<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
Hi $username,
<br>
<br>
Welcome to Homework! We are so excited to have you join our community. <br>
Whether you're here to get help with your toughest subjects or to share your knowledge with students, <br>
we are committed to making your learning journey as smooth as possible.
<br><br>
Here's what you can do now:
<ul>
  <li>Set Up Your Profile: Go to your profile page to add a picture, a short bio, and details about your subjects or learning goals!</li>
  <li>Find a Match: Search for the perfect tutor or find students with thirst for learning, to get started on your first session!</li>
  <li>Connect & Collaborate: Use our one-on-one environment for tasks, share files, and communicate seamlessly!</li>
</ul>
We are here to support you every step of the way. If you have any questions, just reply to this email!
<br><br>  
All the best,
<br>
The Homework Team  
</body>
</html>